<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enuaruke.mercury.mapper.UserMercuryMapper">

    <select id="selectUserTotal" resultType="java.lang.Integer">
        SELECT count(*) from sys_user
    </select>
    <select id="selectUserByParameter" resultType="com.enuaruke.mercury.data.model.User">
        select * from sys_user
        limit ${(page.page-1)*page.size},${page.size}
    </select>
</mapper>